<body id="login_register">


<div class="loginContainer">
	<img src="/images/logo.svg"  height="400" width="400"/>
	<div id="inputs">
	<input id="username" type="text" name="username" placeholder="username" maxlength="20">
	<input id="password" type="password" name="password" placeholder="password" maxlength="20">
	<div id="buttons">
		<button class="register">Join</button>
		<button class="login">Login</button>
	</div>
	</div>
	<div id="no"><div>
</div>






<script type="text/javascript" src="/scripts/script.js"></script>

</body>	

