<body id="questionPage">
 
 <header class="questionHead">
 	<a href="/welcome/logout"><h4>Logout</h4></a>
 </header>
<div id="formContainer">
	<h2 class="ask"> Submit an opener </h2>
 <form action="/question/question" method="POST">
 	<textarea name="question" maxlength="100"></textarea>
 	 <button id="submitQuestion">Submit Opener</button>
</form>
</div>











</body>